<!DOCTYPE html>
<html lang="en" ng-app="testApp">
<head>
  <meta charset="UTF-8">
  <title>Basic Angular Page</title>
  <script src="components/angular/angular.js"></script>
  <script src="app.js"></script>
  <link rel="stylesheet" href="styles/main.css">
</head>
<body>
//= partials/h2.html
<div ng-controller="CalculatorController">
  <input ng-model="x" type="number">
  <input ng-model="y" type="number">
  <strong>{{z}}</strong>
  <!-- the value for ngClick maps to the sum function within the controller body -->
  <input type="button" ng-click="sum()" value="+">
</div>
</body>
</html>
